
.navbar {
	padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 5px;
    font-family: 'Lobster';
}
.navbar-brand {
	font-size: 35px;
}

.plutus_banner {
	padding-top:180px;
	padding-bottom:176px;
	
}
.login-cont {
	padding-top: 180px;
	padding-bottom: 180px;
	font-family: 'Josefin Sans';
	background-color: #009688;
}

.login-block {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 10px 10px 1px 10px;
	border-top: 5px solid #ff656c;
}

.login-block h3 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.form-group input {
	border-radius: 5px;
	font-size: 16px;
	height: 42px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding-left: 50px;
}

.form-group input#username {
	background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.form-group input#username:focus {
	background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.form-group input#password {
	background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.form-group input#submit-btn {
	height: 40px;
	background-color: #ff656c;
	color: #ffffff;
	border-radius: 5px;
	box-sizing: border-box;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
}

.s1 {
	font-family: 'Josefin Sans';
	padding-top: 120px;
	background-color: #e67e22;
	padding-bottom: 120px;
}

.lg1 {
	font-size: 20px;
	font-family: 'Josefin sans';
	background-color: #e67e22;
	border-style: hidden;
	padding: 24px;
}

.s2 {
	font-family: 'Josefin Sans';
	padding-top: 149px;
	background-color: #04a466;
	padding-bottom: 120px;
}

.lg2 {
	font-size: 20px;
	font-family: 'Josefin sans';
	background-color: #04a466;
	border-style: hidden;
	padding: 24px;
}

.login {
	font-family: 'Josefin Sans';
	padding-top: 149px;
	background-color: #2980b9;
	padding-bottom: 120px;
}

.reg1:hover{
	text-decoration: none;
	
}
